:root {
    /* Темная тематическая основа */



    --background: 240 10% 4%;
    /* Глубокий темно-серый/черный (zinc-950) */

    --foreground: 0 0% 98%;
    /* Светлый текст (zinc-50) */




    /* Акцентный цвет (как в киноплёнке) */

    --primary: 346 77% 50%;
    /* Насыщенный малиново-красный (red-600) */

    --primary-foreground: 0 0% 98%;
    /* Светлый текст */



    /* Вторичный акцент */


    --secondary: 240 4% 16%;
    /* Темный серый (zinc-800) */

    --secondary-foreground: 0 0% 98%;
    /* Светлый текст */



    /* Границы */



    --border: 240 4% 26%;
    /* Серый (zinc-700) */




    /* Рейтинги */

    --accent-rating: 35 93% 62%;
    /* Золотой (amber-400) */
}